.Container {
  display: flex;
  flex-direction: row;
  width: 50%;
  border: 3px solid black;
  background-color: lightgrey;
  margin-top: 10px;
  border-radius: 6px;
}

.Title {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 30px;
}

.Container:hover {
  opacity: 0.8;
}

.Container img {
  height: 30px;
  width: 30px;
  margin-top: 5px;
  margin-right: 5px;
}
