.Container {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: white;
  border: 2px solid #ccc;
  margin-top: 10px;
  border-radius: 6px;
  position: relative;
}

.Title {
  width: 75vh;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 30px;
  cursor: move;
  text-transform: none;
}

.Container:hover {
  opacity: 0.8;
}
